#razredi{
	width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.gardijent{
	width: 100%;
}
#showcase {
  position: relative;
  min-height: 600px; }
  #showcase .primary-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
	}